<div class='main-nav'>
    <div class='navbar navbar-inverse'>
        <div class='navbar-collapse collapse' [ngClass]='{ "in": isExpanded }'>
            <ul class='nav navbar-nav' *ngFor="let table of tables">
              <li [routerLinkActive]='["link-active"]'>
                <a routerLink="/{{table.name}}" (click)='collapse()'>
                  <span class='glyphicon glyphicon-list'>{{table.id}}</span>  {{table.name}}
                </a>
              </li>
            </ul>
        </div>
    </div>
</div>
