<!-- templateUrl for nav-menu.component.ts associate with nav-menu.component.css -->

<!-- class='main-nav' is defined only in nav-menu.component.html (ie., not in bootstrap.css) --->
<div class='main-nav'> -->
    <div class='navbar navbar-inverse'>
        <div class='navbar-collapse collapse' [ngClass]='{ "in": isExpanded }'>
            <ul class='nav navbar-nav' *ngFor="let table of tables">

              <!-- class='link-active' is defined only in nav-menu.component.html 
                  (ie., not in bootstrap.css) --->
              <li [routerLinkActive]='["link-active"]'>
                <a routerLink="/{{table.name}}" (click)='collapse()'>
                  <span class='glyphicon glyphicon-list-alt'>{{table.id}}</span>  {{table.name}}
                </a>
              </li>
            </ul>
        </div>
    </div>
</div>
