<p *ngIf="!items"><em>loading ...</em></p>
<span hidden>Popup: {{ message }} {{ id }} </span>
<div>
    <table id="nestedTable" class='table table-light table-striped table-condensed table-hover table-component'>
        <thead>
            <tr role="row">
                <th>Sequence #</th>
                <th>Asset#</th>
                <th>IMTE</th>
                <th>Serial Number</th>
                <th>Description</th>
                <th>Owner</th>
                <th>Status</th>
                <th>Model/Manufacturer</th>
                <th>Service Provider</th>
                <th>Calibration Due Date</th>
                <th>Maintenance Due Date</th>                   
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of items; let i = index;">
                <td>{{ i + 1 }}</td>
                <td>{{ item.assetnumber }}</td>
                <td>{{ item.imte }}</td>
                <td>{{ item.serialnumber }}</td>
                <td>{{ item.description.desc }}</td> 
                <td>{{ item.owner.desc }}</td>
                <td>{{ item.status !== null?item.status.desc:'' }}</td>
                <td>{{ item.model_Manufacturer.desc }}</td>
                <td>{{ item.providerOfService !== null?item.providerOfService.desc:'' }}</td>                                      
                <td>{{ item.calibrationDate | date }}</td>
                <td>{{ item.maintenanceDate | date }}</td>
            </tr>
        </tbody>
    </table>
</div>