/* You can add global styles to this file, and also import other style files */

/* https://material.angular.io/guide/theming */
@import '../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css'; 
@import '../src/app/tables/tables.component.css';
/*{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    line-height: 1;
    color: #333;
    background-color: #fff;
}*/

$font-family: Arial, Helvetica, sans-serif;
$primary-color: #333;
$font-size: 12px;

body {
    padding-top: 50px;
    padding-bottom: 20px;

    /* Added jss */
    font-family: 100% $font-family;
    font-size: $font-size;
    line-height: 1;
    color: $primary-color;
    background-color: #fff;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}


/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none
    }
}